/* Playlist */
body .element {
  height: 430px;
  display: inline-block;
}

body .element.right {
  width: 250px;
  float: right;
}

body .element.left {
  width: 200px;
  float: left;
}

body[dark='true'], body[dark='true'] input, body[dark='true'] span, body[dark='true'] a {
  background-color: var(--bg-color);
  color: white;
}

/* Popup elements */
#track {
  content: '* Click to Open SoundCloud *';
}

#artwork {
  width: 250px;
  height: 250px;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../icon.png);
}

#volume, #close {
  float: right;
}

#second .right, #second .left {
  padding-bottom: 3.5px;
}

/* Share buttons */

#share {
  display: none;
  float: left;
  /*padding-bottom: 8px;*/
}

#thelink .left {
  width: 70%;
}

#thelink .right {
  width: 30%;
}

#copy {
  width: 90%;
  resize: none;
  line-break: anywhere;
}

#share_current_time {
  width: 90%;
}

#social {
  padding-top: 5px;
  size: 50%;
}

/* Controller Icons */
#controller button {
  border: 0;
  font: 0/0 a;
  width: 24px;
  height: 24px;
  text-shadow: none;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  background-position: center center;
}

#controller button:focus {
  outline: 0;
}

/* Social Icons */
#social button {
  width: 25px;
  height: 25px;
  margin: 0 2px 0 0;
  background-size: cover;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

#social button:focus {
  outline: 0;
}

/* */
body > div {
  padding-bottom: 6.5px;
}

/* Audio */
#volume-icon {
  background-image: url('../assets/audio/volume.svg');
  background-size: 130%;
}

#volume-icon.muted {
  background-image: url('../assets/audio/muted.svg');
  background-size: 130%;
}

#up {
  background-image: url('../assets/audio/plus.svg');
}

#down {
  background-image: url('../assets/audio/minus.svg');
}

/* Share */
body[dark='false'] #share_icon {
  background-image: url('../assets/share/share.svg');
  background-size: 120%;
}

body[dark='true'] #share_icon {
  background-image: url('../assets/share/share_dark.svg');
  background-size: 120%;
}

#social .twitter {
  background-image: url('../assets/share/twitter.svg');
}

#social .threads {
  background-image: url('../assets/share/threads.svg');
}

#social .bsky {
  background-color: #ffffff00;
  background-image: url('../assets/share/bsky.svg');
}

#social .clipboard {
  background-size: 60% 60%;
  background-image: url('../assets/share/copy-solid.svg');
}

/* When light mode */
body[dark='false'] #social .clipboard {
  filter: invert(1);
}

/* When dark mode */
body[dark='true'] #social .clipboard {
  fill: var(--bg-color);
  background-color: white;
}

body[dark='true'] #controller button:not([favorite='true']):not([shuffle='true']):not([mode='one']):not([mode='all']):not([followed='true']) {
  filter: invert(1);
}

/* Compact Mode */
#controller-body[mode='compact'] #controller {
  width: 200px;
  height: 50px;
}

#controller-body[mode='compact'] #controller .body:not(.marquee) {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#controller-body[mode='compact'] .title {
  white-space: nowrap;
}

#controller-body[mode='compact'] #side {
  width: 50px;
  height: 50px;
}

#controller-body[mode='compact'] #artwork {
  width: 50px;
  height: 50px;
  margin: 0 0 ;
  background-size: contain;
}

#controller-body[mode='compact'] #current {
  padding-right: 10px;
}

#controller-body[mode='compact'] #end {
  padding-left: 9px;
}

#hyphen {
  background-size: auto;
  background-image: url('../assets/audio/minus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.copynp {
  background-size: 60% 60%;
  background-image: url('../assets/share/copy-solid.svg');
  background-repeat: no-repeat;
}


/* Others */
.icon {
  background-size: cover;
}

#playlist_btn {
  background-size: 80% 80%;
  background-image: url('../assets/list-solid.svg');
}

#settings_icon {
  background-image: url('../assets/cog.svg');
}

#popout_icon {
  background-image: url('../assets/popout.svg');
}

#follow[followed='true'] {
  -webkit-mask: url('../assets/followed.svg');
  background-color: var(--theme-color);
  -webkit-mask-size: cover;
}

#follow[followed=''], #follow[followed='false'] {
  background-image: url('../assets/not-following.svg');
}

body[dark='true'] #settings_icon, body[dark='true'] #popout_icon, body[dark='true'] #up, body[dark='true'] #down, body[dark='true'] #volume-icon, body[dark='true'] #hyphen {
  background-color: transparent;
  filter: invert(1);
}