/* Playlist */
body .element {
	height: 430px;
	display: inline-block;
}

body .element.right {
	width: 250px;
	float: right;
}

body .element.left {
	width: 200px;
	float: left;
}

/* Popup elements */
#track {
	content: "* Click to Open SoundCloud *";
}

#artwork {
	width: 250px;
	height: 250px;
	text-align: center;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(../icon.png);
}

#volume, #close {
	float: right;
}

/* Share buttons */

#share {
	display: none;
	float: left;
	/*padding-bottom: 8px;*/
}

#copy, #time_at {
	display: inline;
}

#copy {
	width: 70%;
	resize: none;
}

#share_current_time {
	width: 10%;
}

#social {
	padding-top: 5px;
	size: 50%;
}

/* Controller Icons */
#controller button {
	border: 0;
	font: 0/0 a;
	width: 24px;
	height: 24px;
	text-shadow: none;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	background-position: center center;
}

#controller button:focus {
	outline: 0;
}

/* Social Icons */
#social button {
	width: 25px;
	height: 25px;
	margin: 0 2px 0 0;
	background-size: 25px 25px;
	border: none;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
}

#social button:focus {
	outline: 0;
}

/* */

body div:not(:last-child):not(:first-child) {
	padding-bottom: 6.5px;
}

/* Audio */
#prev {
	background-image: url("../assets/audio/prev.svg");
}

#toggle[playing="true"] {
	background-image: url("../assets/audio/pause.svg");
}

#toggle[playing="false"], #toggle[playing=""] {
	background-image: url("../assets/audio/play.svg");
}

#next {
	background-image: url("../assets/audio/next.svg");
}

#fav[favorite="true"] {
	background-color: var(--theme-color);

	-webkit-mask: url("../assets/audio/unFav.svg") no-repeat center center;
	-webkit-mask-size: cover;
}

#fav[favorite="false"], #fav[favorite=""] {
	background-image: url("../assets/audio/fav.svg");
	background-size: cover;
}

#shuffle[shuffle="true"] {
	background-color: var(--theme-color);

	-webkit-mask: url("../assets/audio/shuffled.svg") no-repeat center center;
	-webkit-mask-size: cover;
}

#shuffle[shuffle="false"], #shuffle[shuffle=""] {
	background-image: url("../assets/audio/shuffle.svg");
}

#repeat[mode=""], #repeat[mode="none"] {
	background-image: url("../assets/audio/repeat.svg");
}

#repeat[mode="one"] {
	background-color: var(--theme-color);

	-webkit-mask: url("../assets/audio/repeat_one.svg") no-repeat center center;
	-webkit-mask-size: cover;
}

#repeat[mode="all"] {
	background-color: var(--theme-color);

	-webkit-mask: url("../assets/audio/repeat_all.svg") no-repeat center center;
	-webkit-mask-size: cover;
}

#volume-icon {
	background-size: 16px 16px;
	background-image: url("../assets/audio/volume.svg");
}

#volume-icon.muted {
	background-image: url("../assets/audio/muted.svg");
}

/* Share */
#share_icon {
	background-size: 13px 13px;
	background-image: url("../assets/share/share.svg");
}

#social .twitter {
	background-image: url("../assets/share/twitter.svg");
}

#social .facebook {
	background-image: url("../assets/share/facebook.svg");
}

#social .tumblr {
	background-image: url("../assets/share/tumblr.svg");
}

#social .email {
	background-image: url("../assets/share/email.svg");
}

#social .clipboard {
	background-color: black;
	background-size: 60% 60%;
	background-image: url("../assets/share/copy-solid.svg");
}

/* Others */
#playlist_btn {
	background-size: 80% 80%;
	background-image: url("../assets/list-solid.svg");
}

#settings_icon {
	background-size: 80% 80%;
	background-image: url("../assets/cog.svg");
}
