/* Dropdown */
textarea {
  resize: none;
  line-break: anywhere;
}

.dropdown .dd-child textarea:not(.options-table textarea), .dropdown .dd-child input:not([type='checkbox'], .options-table input) {
  margin: 0px;
  height: 28px;
  width: 245px;
}

.dropdown > .dd-parent > .icon {
  background-size: 80% 80%;
}

.dropdown[closed='true'] > .dd-parent > .icon {
	background-image: url('../assets/dropdown/caret-right.svg');
}

.dropdown[closed='false'] > .dd-parent > .icon {
	background-image: url('../assets/dropdown/caret-down.svg');
}

.options-table th, .options-table td {
  text-align: left;
  padding: 5px 5px;
}

.options-table th:not(.ignore th) {
  width: 150px !important;
}

.options-table td:not(.ignore th) {
  width: 100px !important;
}

.ignore td {
  display: inline-block;
}

#trackdisplay {
  width: 94%;
}

#themecolor, #bgcolor {
  height: 21px;
  width: 29px;
}

#current-theme, #current-bgcolor {
  width: 60%;
}

#fontlist {
  width: 98%;
}

/*
.options-table input {
  width: auto;
}*/

hr {
  margin-top: 5px;
}

hr:last-child {
  margin-bottom: 5px;
}

/* Settings */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#formats th, #formats td {
  padding: 4px 0;
  text-align: center;
  width: 50%;
}

#shortcuts th, #shortcuts td {
  padding: 4px 7px;
  text-align: left;
}

#eshortcuts {
  word-break: break-all;
}

table tr:nth-child(odd) {
  background-color: #C3C3C3;
  color: black;
}

table tr:nth-child(even) {
  background-color: #DDD;
  color: black;
}

/* Others */
ul {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

li:last-child {
  margin-bottom: 8px;
}

#exit {
	background-size: 80% 80%;
	background-image: url('../assets/chevron-left.svg');
}

#export_icon {
  background-size: 80% 80%;
  background-image: url('../assets/file-export.svg');
}

/* Dark Mode */
body[dark='true'], body[dark='true'] a { /* body[dark='true'] span, body[dark='true'] input */
  background-color: var(--bg-color);
  color: white;
}

body[dark='true'] .dropdown[closed='true'] > .dd-parent > .icon {
  background-image: url('../assets/dropdown/caret-right_dark.svg');
}

body[dark='true'] .dropdown[closed='false'] > .dd-parent > .icon {
  background-image: url('../assets/dropdown/caret-down_dark.svg');
}

body[dark='true'] #exit {
  background-size: 80% 80%;
  background-image: url('../assets/chevron-left_dark.svg');
}

/* Mini Controller */
body[dark=false] #controller-body {
  width: 250px;
  height: 80px;
  display: inline-block;
  background-color: #F6F6F6;
}

body[dark=true] #controller-body {

}

#controller-body[visible='false'] {
  display: none;
}

#controller-body[visible='true'] {
  display: inline-block;
}

#controller {
  width: 200px;
}

#controller-body hr {
  margin-top: 15px;
}

#controller .body:not(.marquee) {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  white-space: nowrap;
  overflow: hidden;
}

#hyphen {
  background-size: auto;
  background-image: url('../assets/audio/minus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Icons */
.copynp {
  background-size: 60% 60%;
  background-image: url('../assets/share/copy-solid.svg');
  background-repeat: no-repeat;
}

#up {
  background-image: url('../assets/audio/plus.svg');
}

#down {
  background-image: url('../assets/audio/minus.svg');
}

#current {
  padding-right: 10px;
}

#end {
  padding-left: 9px;
}

#controller button {
  border: 0;
  font: 0/0 a;
  width: 24px;
  height: 24px;
  text-shadow: none;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  background-position: center center;
}

.bold {
  font-weight: bold;
}

body[dark='true'] #controller button:not([favorite='true']):not([shuffle='true']):not([mode='one']):not([mode='all']):not([followed='true']), body[dark='true'] #hyphen {
  background-color: transparent;
  filter: invert(1);
}
/* Icons End */
select, select option, input, textarea {
  font-family: Arial;
}

#side {
  width: 50px;
  height: 50px;
}

#artwork {
  width: 50px;
  height: 50px;
  margin: 0 0 ;
  background-size: contain;
}

#follow[followed='true'] {
  -webkit-mask: url('../assets/followed.svg');
  background-color: var(--theme-color);
  -webkit-mask-size: cover;
}

#follow[followed=''], #follow[followed='false'] {
  background-image: url('../assets/not-following.svg');
}