body {
  /*2: 450px;*/
  width: 250px;
  font-family: "Meiryo";
}

:root {
  --theme-color: #ff8c00;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--theme-color);
}

#track {
  word-break: break-all;
}

hr {
  margin-top: 0;
}

hr:last-child {
  margin-bottom: 0;
}

input[type="text"] {
  display: inline-block;
  padding: 1px 2px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color .1s;
}

input[type="checkbox"] {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: var(--theme-color);
}

/* Utils */
.floating .left, .floating .right {
  display: inline-block;
}

.floating .right {
  float: right;
}

/* Marquee */
.marquee {
  overflow: hidden;
  position: relative;
}

.marquee::after {
  content: "";
  white-space: nowrap;
  display: inline-block;
}

.marquee > .marquee-inner {
  position: absolute;
  top: 0;
  white-space: nowrap;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translate(0);
  }
  100% {
    left: 0;
    transform: translate(-100%);
  }
}

/* Second Elements Icon */
/*.box {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  position: relative;
}*/

/* Icons */
.icon {
  width: 13px;
  height: 13px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(15%);
}
